<header>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/projects">Projects</a></li>
            <li><a href="/ello.html">ello</a></li>
        </ul>
    </nav>
</header>